@charset "UTF-8";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
	color: #0f3b63;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
a:hover {
	color: #8d0e13;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
address {
	margin-bottom: 0px;
}
.alert {
	background-color: #ffcc00;
	border: 0px;
	border-radius: 0px;
	color: #000;
	margin-bottom: 0px;
}
.alert .glyphicon {
	font-size: 45px;
}
body {
	padding-top: 50px;
	padding-bottom: 0px;
}
.btn-group, .btn-sm, .btn-group-sm > .btn {
	margin: 5px 0px 0px 15px;
}
.dropdown-menu {
	background-color: #8d0e13;
	border: 0px;
	border-radius: 0px;
	box-shadow: none;
	color: #fff;
	margin: 30px 0px 0px 15px;
}
.dropdown-menu li a {
	color: #fff;
}
.dropdown-menu > li > a:hover, a:focus, a:active {
	background-color: #000;
	color: #ffcc00;
}
.footer {
	background-color: #0f3b63;
	color: #fff;
	line-height: 120px;
	padding: 15px;
}
.footer, h1 {
	margin-top: 10px;
}
.footer, h6, a {
	color: #fff;
}
#footerseal {
	max-height: 125px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
img {
    min-width: 100%;
    height: auto;      
}
.jumbotron {
	padding: 0px;
	margin-bottom: 10px;
}
.jumbotron, h1, h2, h3, h4, h5, h6 {
	color: #000;
}
.jumbotron p {
	font-size: 16px;
}
#mainmenu {
	background-color: #8d0e13;
}
.navbar {
	border-radius: 0px;
	background-color: #0f3b63;
	border: 0px;
	margin-bottom: 0px;
}
.navbar-default {
	background-color: #8d0e13;
	border-left: 6px solid #ffcc00;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
	background-color: #8d0e13;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color: #efefef;
	color: #8d0e13;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	margin-left: 6px;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700;
}
.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #efefef;
	color: #8d0e13;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700;
}
.navbar-right .dropdown-menu {
	left: -15px;
	right: auto;
}
.npsheader {
	background-color: #0f3b63;
}
.npsheader h1{
	background-color: #0f3b63;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 0px;
	padding: 5px 15px;
}
.npsheader .row {
	margin-right: 0px;
}
.ul .dropdown-menu .translate > a:active{
	margin: 0px;
}

/* ==========================================================================
   Carousel CSS
   ========================================================================== */
.nav-justified > li > a {
    border-radius: 0px;
    border-right: 1px solid #fff;
    padding: 20px 15px;
}
#last{
    border-radius: 0px;
    border-right: 0px;
    padding: 20px 15px;
}
.nav-justified > li > a:hover {
	background-color: #fefefe;
    border-radius: 0px;
    border-bottom: 1px solid #8d0e13;
    color: #8d0e13;
}
.nav-pills {
	background-color: #8d0e13;
}
.carousel-caption {
	background-color: rgba(255,255,255, 0.7);
	color: #000;
	left: 25px;
	padding: 20px;
	position: absolute;
	right: 800px;
	text-align: left;
	text-shadow: none;
	top: 25px;
}

/* ==========================================================================
   Multi-Level Dropdown
   ========================================================================== */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #000;
    color: #ffcc00;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (min-width: 320px) and (max-width: 768px) {
	.glyphiconheader {
		font-size: 18px;
		margin-top: 15px;
		margin-right: 5px;
	}
	.jumbotron p {
		font-size: 12px;
	}
	.nav-justified > li > a {
	    border-radius: 0px;
    	border-right: 0px solid #fff;
  	  	border-top: 1px solid #fff;
    	padding: 20px 15px;
	}
}













